@import "../variables";

.splash-container {
  align-items: center;
  background-color: $color-dgrey;
  color: $font-light;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem 3rem;
  width: 50vw;
}

.condense {
  transition: 3s ease;
  height: 55vh;
}

.title-content {
  text-align: center;
  align-self: flex-start;
  margin-top: 0.5rem;
  h1 {
    font-size: 64px;
    margin: 0;
  }
  p {
    font-size: $font-size-s;
    margin: 0;
  }
}

.film-prologue {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  font-size: $font-size-m;
  height: 60vh;
  justify-content: center;
  line-height: 2;
  margin-top: 1rem;
  max-width: 550px;
  text-align: center;
}
