@import "../variables";

.card-container {
  background-color: $color-white;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20vh;
  transform: translateY(-9.5rem);
  width: 48vw;
}

.card-container h1 {
  // border: 1px solid red;
  // margin-top: 3rem;
  font-size: $font-size-l;
  margin-top: 3rem;
}

.btn-section {
  // border: 1px solid red;
  margin-bottom: 1rem;
}

.card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // border: 1px solid red;
  width: 95%;
}

.output-card {
  border: 1px solid blue;
  min-height: 20rem;
  min-width: 12rem;
  margin: 0.5rem;
}

.view-favorites {
  // align-self: flex-end;
  // padding-right: 5%;
  font-size: $font-size-s;
  margin-bottom: 1rem;
}
