@import "../variables";

.card-container {
  background-color: $color-white;
  border: 1px solid $color-dgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-9.5rem);
  width: 48vw;
  min-width: 300px;
  i {
    color: $color-dgrey;
    transform: translateY(-5rem);
  }
}

.btn-section {
  margin-bottom: 1rem;
}

.card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
}

.view-favorites {
  font-size: $font-size-s;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(0.98);
  }
  &:focus {
    outline: 0;
  }
}

@media only screen and (max-width: 835px) {
  .btn-section {
    width: 90%;
  }
}
