@import "../variables";

.card-container {
  background-color: $color-white;
  border: 1px solid $color-dgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20vh;
  transform: translateY(-9.5rem);
  width: 48vw;
  min-width: 300px;
}

.btn-section {
  margin-bottom: 1rem;
}

.card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
}

.view-favorites {
  font-size: $font-size-s;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 835px) {
  .btn-section {
    border: 1px solid red;
    width: 90%;
  }
}
