@import "variables";

.App {
  align-items: center;
  background-color: $color-grey;
  // border: 1px solid orange;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card-container {
  background-color: $color-white;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  min-height: 20vh;
  transform: translateY(-9.5rem);
  width: 48vw;
}

.card-container h1 {
  // border: 1px solid red;
  margin-top: 3rem;
}
